{% load static %}
<footer class="footer footer-style-4">
    <div class="container">
      <div class="widget-wrapper">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
              <div class="logo">
                <a href="#0"> <img src="{% static 'img/logo/logo.svg' %}" alt=""> </a>
              </div>
              <p class="desc">Domínio das metodologias de desenvolvimento e gestão em softwares, como frameworks e diversas ferramentas de desenvolvimento.</p>
              <ul class="socials">
                <li> <a href="https://www.facebook.com/"> <i class="lni lni-facebook-filled"></i> </a> </li>
                <li> <a href="http://twitter.com/"> <i class="lni lni-twitter-filled"></i> </a> </li>
                <li> <a href="https://www.instagram.com/"> <i class="lni lni-instagram-filled"></i> </a> </li>
                <li> <a href="https://www.linkedin.com/"> <i class="lni lni-linkedin-original"></i> </a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
              <h6>Links rápidos</h6>
              <ul class="links">
                <li> <a href="#home">Início</a> </li>
                <li> <a href="#about">Sobre</a> </li>
                <li> <a href="#feature">Serviços</a> </li>
                <li> <a href="#clients">Clientes</a> </li>
                <li> <a href="#contact">Contato</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
              <h6>Serviços</h6>
              <ul class="links">
                <li> <a href="#features">Web Design</a> </li>
                <li> <a href="#features">Aplicações Web</a> </li>
                <li> <a href="#features">Análise Administrativa</a> </li>
                <li> <a href="#features">Segurança da Informção</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".5s">
              <h6>Download App</h6>
              <ul class="download-app">
                <li>
                  <a href="#https://www.apple.com/br/app-store/">
                    <span class="icon"><i class="lni lni-apple"></i></span>
                    <span class="text">Download on the <b>App Store</b> </span>
                  </a>
                </li>
                <li>
                  <a href="#https://play.google.com/store/?utm_source=latam_Med&utm_medium=hasem&utm_content=Jul1520&utm_campaign=Evergreen&pcampaignid=MKT-FDR-latam-br-1002290-Med-hasem-py-Evergreen-Jul1520-Text_Search_BKWS-2072327022&gclid=EAIaIQobChMIv8mCi83x7gIVM_C1Ch055gqQEAAYASAAEgLgG_D_BwE&gclsrc=aw.ds">
                    <span class="icon"><i class="lni lni-play-store"></i></span>
                    <span class="text">GET IT ON <b>Play Store</b> </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
        <p>Design and Developed by Nova</p>
        <!--p>Design and Developed by <a href="https://uideck.com" rel="nofollow" target="_blank">UIdeck</a> Built-with <a href="https://uideck.com" rel="nofollow" target="_blank">Lindy UI Kit</a></p-->
      </div>
    </div>
  </footer>